# Ignore build objects
*.cache
#MicroFrameworkPK_v4_3/Framework/Core/Native_Hardware/*.cache

# Notepad++ backup files
*.bak

.autotools
.cproject*

# build meta data
MicroFrameworkPK_v4_3/CLR/Tools/BuildHelper/BuildHelper_assemblyinfo.txt
MicroFrameworkPK_v4_3/CLR/Tools/MetaDataProcessor/MetaDataProcessor_assemblyinfo.txt
MicroFrameworkPK_v4_3/CLR/Tools/TFConvert/TFConvert_assemblyinfo.txt
MicroFrameworkPK_v4_3/Solutions/Windows2/TinyCLR/Sample.Emulator.CLR_assemblyinfo.txt

# Ignore binaries
MicroFrameworkPK_v4_3/BuildOutput/

MicroFrameworkPK_v4_3/Samraksh/APPS/SamrakshDataArchive/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_Hardware/Samraksh_SPOT_Hardware/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_Net/Samraksh_SPOT_Net/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_RealTime/RealTimeTimer/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT/Samraksh_SPOT/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_eMote_ProgramManager/Samraksh_eMote_ProgramManager/bin
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_eMote_ProgramManager/Samraksh_eMote_ProgramManager/obj

.metadata

#ignore Eclipse files
MicroFrameworkPK_v4_3/.cproject
MicroFrameworkPK_v4_3/.project
.cproject
.project
/.settings/

#ignore header files generated at compile-time
MicroFrameworkPK_v4_3/DeviceCode/Include/Samraksh/githash.h
MicroFrameworkPK_v4_3/DeviceCode/Include/Samraksh/teamid.h

# Ignore VS Project junk
bin/
obj/
.suo
# Ignore *specific* VS Project junk.  .user and .suo are not wildcards because somebody might be depending on content in some existing tracked .csproj.user files.
MicroFrameworkPK_v4_3/Framework/Tools/MFDeploy/Library/MFDeployEngine.csproj.user
MicroFrameworkPK_v4_3/Framework/Tools/MFDeploy/MFDeploy.v11.suo
Samraksh/Interops/Samraksh_eMote_ProgramManager/Samraksh_eMote_ProgramManager.v11.suo

# keep Interop stuff... FOR NOW muhahaha!
!MicroFrameworkPK_v4_3/Samraksh/Interops/*/*/bin
!MicroFrameworkPK_v4_3/Samraksh/Interops/*/*/obj