# Ignore build objects
MicroFrameworkPK_v4_3/Framework/Core/Native_Hardware/*.cache

# Ignore binaries
MicroFrameworkPK_v4_0/BuildOutput/ARM/
MicroFrameworkPK_v4_0/BuildOutput/THUMB2/
MicroFrameworkPK_v4_0/BuildOutput/public/
MicroFrameworkPK_v4_0/BuildOutput/Windows/
MicroFrameworkPK_v4_3/BuildOutput/ARM/
MicroFrameworkPK_v4_3/BuildOutput/THUMB2/
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dat
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/disasm
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/*
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_Hardware.dll
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_Hardware.pdb
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT.dll
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT.pdb
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_Hardware_SensorBoard.dll
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_Hardware_SensorBoard.pdb
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_Net.dll
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_Net.pdb
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_RealTime.dll
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dll/Samraksh_SPOT_RealTime.pdb
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/be
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/*
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_Hardware.pdbx
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_Hardware.pe
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT.pdbx
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT.pe
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_Hardware_SensorBoard.pdbx
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_Hardware_SensorBoard.pe
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_Net.pdbx
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_Net.pe
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_RealTime.pdbx
!MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/pe/le/Samraksh_SPOT_RealTime.pe
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/dumps
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/obj
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/stubs
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/templates
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/txt
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Client/xml
MicroFrameworkPK_v4_3/BuildOutput/public/Debug/Server
MicroFrameworkPK_v4_3/BuildOutput/Windows/
MicroFrameworkPK_v4_3/Samraksh/APPS/SamrakshDataArchive/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_Hardware/Samraksh_SPOT_Hardware/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_Net/Samraksh_SPOT_Net/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_RealTime/RealTimeTimer/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT/Samraksh_SPOT/bin/
.metadata
#ignore Eclipse files
MicroFrameworkPK_v4_0/.cproject
MicroFrameworkPK_v4_0/.project
