# Ignore build objects
*.cache
#MicroFrameworkPK_v4_3/Framework/Core/Native_Hardware/*.cache

# build meta data
MicroFrameworkPK_v4_3/CLR/Tools/BuildHelper/BuildHelper_assemblyinfo.txt
MicroFrameworkPK_v4_3/CLR/Tools/MetaDataProcessor/MetaDataProcessor_assemblyinfo.txt
MicroFrameworkPK_v4_3/CLR/Tools/TFConvert/TFConvert_assemblyinfo.txt

# Ignore binaries
MicroFrameworkPK_v4_3/BuildOutput/

MicroFrameworkPK_v4_3/Samraksh/APPS/SamrakshDataArchive/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_Hardware/Samraksh_SPOT_Hardware/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_Net/Samraksh_SPOT_Net/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT_RealTime/RealTimeTimer/bin/
MicroFrameworkPK_v4_3/Samraksh/Interops/Samraksh_SPOT/Samraksh_SPOT/bin/
.metadata
#ignore Eclipse files
MicroFrameworkPK_v4_0/.cproject
MicroFrameworkPK_v4_0/.project
#ignore header files generated at compile-time
MicroFrameworkPK_v4_3/DeviceCode/Include/Samraksh/githash.h
MicroFrameworkPK_v4_3/DeviceCode/Include/Samraksh/teamid.h
