<Wix>
<Module Id='Module_TestModule' Guid='c2456164-c34c-4158-b3b7-dfaaab5e0a66' Language='1033' Version='1.0.0.0'>
 <?include ProductVersion.wxs?>
 <?include Directories.wxs?>
      <ComponentRef Id='Component_arrays' />
      <ComponentRef Id='Component_attributes' />
      <ComponentRef Id='Component_basicconcepts' />  
      <ComponentRef Id='Component_classes1' />
      <ComponentRef Id='Component_classes2' />
      <ComponentRef Id='Component_classes3' />
      <ComponentRef Id='Component_collections' />
      <ComponentRef Id='Component_conversions' />
      <ComponentRef Id='Component_basic' />
      <ComponentRef Id='Component_basic2' />
      <ComponentRef Id='Component_expenum' />
      <ComponentRef Id='Component_expenum2' />
      <ComponentRef Id='Component_user' />
      <ComponentRef Id='Component_enums' />
      <ComponentRef Id='Component_exceptions' />
      <ComponentRef Id='Component_expressions1' />
      <ComponentRef Id='Component_expressions2' />
      <ComponentRef Id='Component_lexical' /> 
      <ComponentRef Id='Component_selection' />
      <ComponentRef Id='Component_namespaces' />
      <ComponentRef Id='Component_statements' />
      <ComponentRef Id='Component_structs' />
      <ComponentRef Id='Component_types' />
      <ComponentRef Id='Component_variables' />
      <ComponentRef Id='Component_systemlib1' />
      <ComponentRef Id='Component_systemlib2' />
      <ComponentRef Id='Component_threads1' />
      <ComponentRef Id='Component_threads2' />
      <ComponentRef Id='Component_threads3' /> 
      <Package Id='45264db8-1438-4d84-8bf1-d2d3da196dc9' Keywords="Installer" Description=".NET Micro Framework mscorlibTests" Comments=" enu; Copyright (C) Microsoft Corporation, All rights reserved." Manufacturer="Microsoft Corporation" InstallerVersion="200" Languages="1033" SummaryCodepage="1252" Compressed="yes" />
  </Module>
</Wix>
