<Wix>
<Module Id='Module_TestModule' Guid='03175473-f9e5-4a5f-8511-579300ea31a0' Language='1033' Version='1.0.0.0'>
 <?include ProductVersion.wxs?>
 <?include Directories.wxs?>
      <ComponentRef Id='Component_SocketServerTest' />
      <ComponentRef Id='Component_SocketClientTest' />
      <ComponentRef Id='Component_Loopback' />
      <ComponentRef Id='Component_MultiThreadStress' />
      <Package Id='44b08b11-1e89-4f7b-9648-6e73af840bfc' Keywords="Installer" Description=".NET Micro Framework Stress Tests" Comments=" enu; Copyright (C) Microsoft Corporation, All rights reserved." Manufacturer="Microsoft Corporation" InstallerVersion="200" Languages="1033" SummaryCodepage="1252" Compressed="yes" />
  </Module>
</Wix>
