<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <!--<GpioCollection>Microsoft.SPOT.Emulator.Gpio.GpioCollection</GpioCollection>
    
    <ADC>Samraksh.SPOT.Emulator.ADC</ADC>
    <GpioPort>Microsoft.SPOT.Emulator.Gpio.GpioPort</GpioPort>
    <MemoryManager>Microsoft.SPOT.Emulator.Memory.MemoryManager</MemoryManager>
    <RamManager>Microsoft.SPOT.Emulator.Memory.RamManager</RamManager>
    <FlashManager>Microsoft.SPOT.Emulator.Memory.FlashManager</FlashManager>
    <FlashSector>Microsoft.SPOT.Emulator.Memory.FlashSector</FlashSector>
    <TimingServices>Microsoft.SPOT.Emulator.Time.TimingServices</TimingServices>
    <LcdDisplay>Microsoft.SPOT.Emulator.Lcd.LcdDisplay</LcdDisplay>
    
    <ComPort>Microsoft.SPOT.Emulator.Com.ComPortToMemoryStream</ComPort>
    <ComPort>Microsoft.SPOT.Emulator.Sample.EmulatorSerialPort</ComPort>-->
    <!-- <GpioSample>Microsoft.SPOT.Emulator.Sample.GpioSampleComponent, Microsoft.SPOT.Emulator.Sample.GPIOSample</GpioSample>
    <ComSample>Microsoft.SPOT.Emulator.Sample.ComSampleComponent, Microsoft.SPOT.Emulator.Sample.ComSample</ComSample>
    <LCDSample>Microsoft.SPOT.Emulator.Sample.LCDSampleComponent, Microsoft.SPOT.Emulator.Sample.LCDSample</LCDSample>
    <SocketSample>Microsoft.SPOT.Emulator.Sample.SocketSampleComponent, Microsoft.SPOT.Emulator.Sample.SocketSample</SocketSample>
    -->
  </Types>

  <EmulatorComponents>
    <!--<MemoryManager id="MemoryManager">
      <RamManager type="RamManager" id="RamManger">
        <Size format="HexNumber">1000000</Size>
      </RamManager>
      <FlashManager type="FlashManager" id="FlashManager">
        <Size format="HexNumber">32000</Size>
        <FlashSectors>
          <FlashSector>
            <Length format="HexNumber">1000</Length>
            <Usage>Bootstrap</Usage>
            <Partition>Start</Partition>
            <Block>Start</Block>
          </FlashSector>
        </FlashSectors>
       
      </FlashManager>
    </MemoryManager>
  
    <ComPort id="COM1">
      <ComPortHandle>Usart1</ComPortHandle>
    </ComPort>
    
    <ComPort id="COM2">
      <ComPortHandle>Usart2</ComPortHandle>
    </ComPort>
      -->
  </EmulatorComponents>

</Emulator>