<Wix>
<Module Id='Module_TestModule' Guid='0444ac83-d36d-47a0-b3c0-c1c35f302a5f' Language='1033' Version='1.0.0.0'>
 <?include ProductVersion.wxs?>
 <?include Directories.wxs?>
      <ComponentRef Id='Component_MFDeployBasicTests' />
      <Package Id='6db37dd6-5b39-43db-bb72-1baf2c7e22eb' Keywords="Installer" Description=".NET Micro Framework MFDeploy Tests" Comments=" enu; Copyright (C) Microsoft Corporation, All rights reserved." Manufacturer="Microsoft Corporation" InstallerVersion="200" Languages="1033" SummaryCodepage="1252" Compressed="yes" />
  </Module>
</Wix>
